<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stuffoo.Core.Properties.Settings.StuffooConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\GitRepositories\Stuffoo\MvcWeb\App_Data\Stuffoo.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>